body {
    background-color: antiquewhite;
}
.container {
    float: right;
    margin-right: 50px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.gameBtnDiv {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.scoreDiv {
  margin-top: 50px;
}
#form {
  margin-top: 50px;
}